body {
    text-align: center;
}

.fade-out {
    -webkit-transition: opacity 3s ease-in-out;
    -moz-transition: opacity 3s ease-in-out;
    -ms-transition: opacity 3s ease-in-out;
    -o-transition: opacity 3s ease-in-out;
    opacity: 1;
}

.darkgray-white-center {
    padding: 30px;
    background-color: darkslategray;
    color: white;
    max-width: 700px;
    margin: auto;
    border-radius: 25px;
}
